<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.0.10827" targetFramework="net40-Client" />
  <package id="NUnit" version="3.8.1" targetFramework="net40" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net40" />
  <package id="Pdoxcl2Sharp" version="0.5.2" targetFramework="net40" />
</packages>
