body {
    background-image: url('/img/crossword.png');
    line-height: 1.75em;
    color: rgba(0,0,0,0.75);
    padding-top: 5em;
}

div.container {
    margin-top: 5em;
    padding: 2em; 
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 1em;
    box-shadow: 0px 0px 30px 6px #dddddd
}

footer {
    margin-top: 2em;
}

h1, h2 {
    font-weight: bold;
}

* {
    font-family: 'Gentium Book Basic', serif;
}

p, span, li {
    font-size: 1.2em;
}

div.submit-box {
    display: table;
    margin-top: 1em;
}

div.submit-box > * {
    float: left;
}

div.error {
    display: none;
    margin-right: -2em;
    margin-left: -2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #FF6138;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 1.5em;
}

table.x-table td, table.x-table tr { white-space: nowrap; }
div.DTFC_LeftBodyLiner { overflow-x: hidden; }

div.submit-box p {
    margin-left: 1.5em;
    margin-top: 0;
}

progress {
    height: 35px;
    appearance: none;
    border: none;
    background: #EEE;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    margin-left: 1.5em;
    display: none;
}

progress::-webkit-progress-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

progress::-webkit-progress-value {
  background-color: #0078e7;
  border-radius: 3px;
}

progress::-moz-progress-bar {
  background-color: #0078e7;
  border-radius: 3px;
}
