body {
    background-image: url('/img/crossword.png');
    line-height: 1.75em;
    color: rgba(0,0,0,0.75);
    padding-top: 5em;
}

div.container {
    margin-top: 5em;
    padding: 2em; 
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 1em;
    box-shadow: 0px 0px 30px 6px #dddddd
}

footer {
    margin-top: 2em;
}

h1, h2 {
    font-weight: bold;
}

* {
    font-family: 'Gentium Book Basic', serif;
}

p, span, li {
    font-size: 1.2em;
}

div.submit-box {
    display: table;
    margin-top: 1em;
}

div.submit-box > * {
    float: left;
}

div.error {
    display: none;
    margin-right: -2em;
    margin-left: -2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #FF6138;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 1.5em;
}

/* stolen from: http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/ */
.spinner {
    display: none;
    margin-left: 2em;
    height: 19px;
    width: 19px;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0,174,239,.15);
    border-right: 6px solid rgba(0,174,239,.15);
    border-bottom: 6px solid rgba(0,174,239,.15);
    border-top: 6px solid rgba(0,174,239,.8);
    border-radius: 100%;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
